@model PhotoAppMVC.Application.ViewModels.Blog.BlogViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddBlog">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tytuł
            </th>
            <th>
                Tekst
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Data utworzenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a href="@item.PhotoPath">
                    <img src="@item.PhotoPath" alt="Foto"/>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBlog", new { id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
