@model PhotoAppMVC.Application.ViewModels.Blog.BlogViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddBlog">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
               Tytuł
            </th>
            <th>
                Tekst
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Data utworzenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blogs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <img src="@item.PhotoPath" alt="Foto"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@


@foreach (var item in Model.Blogs)
{
    <div class="blog-info">
        <h1 class="blog-header">@item.Title</h1>
        <p>@item.Text</p>
        <a href="/Blog/blog-details/@item.Id">
            <img src="/gallery/Upload/Blog/@item.PhotoPath" alt="photo" />
            @*<img src="/gallery/Upload/Blog/@item.Id/Thumbs/@item.PhotoPath" alt="photo" />*@
        </a>
        <p>Data dodania: @item.CreatedDate</p>
    </div>
}